absl-py==0.9.0
aiohttp==3.8.0
aiosignal==1.2.0
aist-plusplus-api==1.1.0
alembic==1.4.3
aniposelib @ git+https://github.com/liruilong940607/aniposelib@6a1c252ec427d7c5c3c95ec50773c4371d80b053
aniso8601==8.1.0
async-timeout==4.0.0
asynctest==0.13.0
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
cachetools==4.1.1
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814693874/work
chardet==3.0.4
charset-normalizer==2.0.7
chumpy==0.70
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.1
constantly==15.1.0
crowdposetools==2.0
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
Deprecated==1.2.13
-e git+https://github.com/facebookresearch/detectron2.git@6df2375535c458ad10aec2c16f2c81e1c29dd8a3#egg=detectron2
docker-pycreds==0.4.0
easydict==1.9
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-HTTPAuth==4.2.0
Flask-Migrate==2.5.3
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
frozenlist==1.2.0
future==0.18.2
fvcore==0.1.2.post20201103
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.23.0
google-auth-oauthlib==0.4.2
graphsurgeon @ file:///home/hcy/TensorRT-6.0.1.5/graphsurgeon/graphsurgeon-0.4.1-py2.py3-none-any.whl
grpcio==1.33.2
h5py==2.10.0
hyperlink==21.0.0
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==2.0.0
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
json-tricks==3.13.2
jsonschema==3.2.0
kiwisolver==1.2.0
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==2.0.2
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
moviepy==1.0.3
multidict==5.2.0
munkres==1.1.4
networkx==2.5
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603487797006/work
oauthlib==3.1.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.5.4.60
pandas==1.1.4
Pillow @ file:///tmp/build/80754af9/pillow_1625670622947/work
portalocker==2.0.0
prettytable==0.7.2
proglog==0.1.9
promise==2.3
protobuf==3.13.0
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.4
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.19.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
sentry-sdk==0.19.5
Shapely==1.6.4
shortuuid==1.0.1
sip==6.0.3
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
smmap==3.0.4
smplx @ git+https://github.com/liruilong940607/smplx@438732844373ea9ea7799a0d7a467426a674c6fe
SQLAlchemy==1.3.20
subprocess32==3.5.4
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorrt @ file:///home/hcy/TensorRT-6.0.1.5/python/tensorrt-6.0.1.5-cp36-none-linux_x86_64.whl
termcolor==1.1.0
threadpoolctl==2.2.0
tifffile==2020.9.3
toml==0.10.2
torch==1.6.0+cu101
torchaudio==0.8.0
torchgeometry==0.1.2
torchvision==0.7.0+cu101
tqdm==4.29.1
trimesh==3.9.35
Twisted==21.7.0
txaio==21.2.1
typing-extensions==3.10.0.2
uff @ file:///home/hcy/TensorRT-6.0.1.5/uff/uff-0.6.5-py2.py3-none-any.whl
urllib3==1.25.11
vectormath==0.2.2
vedo==2021.0.7
vtk==9.0.3
wandb==0.10.12
watchdog==1.0.1
Werkzeug==0.16.0
wrapt==1.13.3
wslink==1.1.0
yacs==0.1.8
yarl==1.7.2
zipp==3.4.0
zope.interface==5.4.0
